<?xml version="1.0"?>
<robot name = "robot" xmlns:xacro="https://www.ros.org/wiki/xacro">
<xacro:property name="base_size" value="1.0"/>
<xacro:property name="wheel_r" value ="0.5"/>
<link name="base_link">
    <visual>
        <geometry>
            <box size="${base_size} ${base_size} ${base_size}"/>
        </geometry>
        <material name="blue_mat">
            <color rgba="0 0 1 1"/>
        </material>
    </visual>
    <collision>
        <geometry>
            <box size="${base_size} ${base_size} ${base_size}"/>
        </geometry>
    </collision>
</link>
</robot>