<?xml version="1.0"?>
<robot name = "robot" xmlns:xacro="https://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin name="gz::sim::systems::DiffDrive" filename='gz-sim-diff-drive-system'>
            <left_joint>base_l_wheel_joint</left_joint>
            <right_joint>base_r_wheel_joint</right_joint>
            <wheel_separation>${base_size}</wheel_separation>
            <wheel_radius>${wheel_r}</wheel_radius>
            <topic>/cmd_vel</topic>
            <odom_topic>/odom</odom_topic>
            <tf_topic>/tf</tf_topic>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="gz::sim::systems::JointStatePublisher"
                filename="gz-sim-joint-state-publisher-system">
            <topic>/joint_states</topic>
            <joint_name>base_l_wheel_joint</joint_name>
            <joint_name>base_r_wheel_joint</joint_name>
        </plugin>
    </gazebo>

    <gazebo reference="top_caster">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <material>
            <ambient>0</ambient>
            <diffuse>0</diffuse>
            <specular>0</specular>
            <emissive>0</emissive>
        </material>
    </gazebo>

    <gazebo reference="bottom_caster">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <material>
            <ambient>0</ambient>
            <diffuse>0</diffuse>
            <specular>0</specular>
            <emissive>0</emissive>
        </material>
    </gazebo>

</robot>
